<div class="row">
  <div class="col-md-12 col-sm-6">
    <%= form_tag('/repositories/search_or_get', method: :post) do %>
     <div class="name">organisation</div>
      <%= text_field_tag "organisation[name]", "", class:"form-control" %>
      <div class="name">repositories</div>
      <%= text_field_tag "repository[name]", "", class:"form-control" %>
      <%= submit_tag("検索")%>
    <% end %>
  </div>
</div>
