<div class="row">
  <div class="col-md-12 col-sm-6">
    <%= form_tag('/repositories/search_or_get', method: :post) do %>
     <label>organisation</label>
      <%= text_field_tag "organisation[name]", "", class: "form-control" %>
      <label>repositories</label>
      <%= text_field_tag "repository[name]", "", class: "form-control" %>
      <%= submit_tag "検索", class: "btn btn-primary search-btn" %>
    <% end %>
  </div>
</div>
